.full-view {
  height: 100vh;
  font-size: 28px;
  position: relative;
}

.full-view::after {
  content: '\2193';
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.content {
  background-color: #ddd;
  border: 1px dotted #999;
  padding: 16px;
  text-align: center;
}
