<div class="full-view">Scroll to load content...</div>
<div class="full-view">Keep scrolling to load content...</div>

<virtual-load>
  <ng-template loadContent>
    <div #content>Content</div>
  </ng-template>
</virtual-load>

<div *serverSideRender="true" serverSide serverSideStyle="color: red">
  This content will get a red color when the angular universal renders it at server
</div>


<div *ngIf="layoutService.business.isHandset(); else desktop">
  Mobile version
</div>

<ng-template #desktop>
  <div>Desktop version</div>
</ng-template>

<div *ngIf="layoutService.model.isBrowser; else server">
  Browser version
</div>

<ng-template #server>
  <div>Server version</div>
</ng-template>
